{% extends 'admin/change_list.html' %}
{% load order_tags %}

{% block object-tools %}
    {% get_created_orders_stats as stats %}
    <style>
        .stats-table thead th {
            white-space: nowrap;
        }
    </style>
    <div style="width: 100%; overflow: scroll; margin-bottom: 20px;">
        <table class="stats-table" style="min-width: 100%">
            <thead>
                <tr>
                    <th>Всего позиций</th>
                    <th>Средняя цена</th>
                    {% for product in stats.products.keys %}
                    <th>{{ product }}</th>
                    {% endfor %}
                    <th>Общая сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ stats.total_count }}</td>
                    <td>{{ stats.average_price }}</td>
                    {% for product in stats.products.values %}
                    <td>{{ product }}</td>
                    {% endfor %}
                    <td>{{ stats.total_price }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% access_to_close_acceptance as acceptance %}
    {% get_order_acceptance as order_acceptance %}
    {% if acceptance %}
        <form action="{% url 'close-acceptance' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Закрыть принятие заявок">
            <p>Статус приема заявок: {{ order_acceptance }}</p>
        </form>
    {% endif %}
    <form action="{% url 'daily-report' %}" method="post">
        {% csrf_token %}
        <div style="display: flex; gap: 16px; margin-bottom: 8px;">
            <div style="display: flex; flex-direction: column;">
                <label for="dailyReport">Дневной отчет</label>
                <input type="radio" value="daily" name="report-type" id="dailyReport" checked>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="driverReport">Отчет для водителя</label>
                <input type="radio" value="driver" name="report-type" id="driverReport">
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="labelmakerReport">Отчет для этикеровщика</label>
                <input type="radio" value="labelmaker" name="report-type" id="labelmakerReport">
            </div>
        </div>
        <input type="date" id="ReportDate" name="daily-report-date" required>
        <input type="submit" value="Скачать отчет в EXCEL">
    </form>
    <script>
        document.getElementById('ReportDate').valueAsDate = new Date();
    </script>
{% endblock %}